.c-team {
  background-color: $galleryWhite;
  .team {
    &-members {
      display: grid;
      grid-template-columns: minmax(auto, 36.5rem);
      justify-content: center;
      margin-bottom: 5rem;
      &__ {
        &card {
          margin-bottom: 2rem;
          @include rotateY();
        }
        &img-container {
        }
        &img {
          width: 100%;
        }
        &info {
          background-color: $white;
          padding: 30px 3.3rem 22px 3.3rem;
        }
      }
    }
  }
  .info {
    &__ {
      &title {
        margin: 0;

        &--bold {
          margin: 4px 0 12px;
        }
      }
      &text {
        margin: 0;
        line-height: 2.5rem;
        letter-spacing: 0px;
      }
    }
  }
}
