@media (min-width: 35rem) {
  .c-details {
    .details {
      &__ {
        &social-media {
          .social__link {
            padding: 12px 12.75px;
          }
        }
        &img {
          width: auto;
          &--small {
            grid-template-columns: repeat(4, auto);
          }
        }
      }
    }
  }
}
