.c-portfolio-details .text--center{
    margin-bottom: 47px;
}

.c-portfolio-imgs__wrapper {
  .container--inner {
    margin-bottom: 6.5rem;
  }
  .portfolio__img{
      @include rotateY();
      display: block;
  }
}