.c-portfolio-details .text--center {
  margin-bottom: 47px;
}

.c-portfolio-imgs__wrapper {
  .container--inner {
    margin-bottom: 3rem;
  }
  .portfolio__img {
    margin-bottom: 3rem;
    @include rotateY();
    display: block;
    width: 100%;
  }
}
