.images-gallery {
  background-color: $galleryWhite;
  padding: 0;
  .gallery {
    &__ {
      &filter {
        @include scale();
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border: 0.1rem solid $galleryFilterLine;
        border-left: 0px;
        border-right: 0px;
        margin: 30px 0;
        padding: 0;
        .filter__item {
          min-width: 100vw;
          text-align: center;
          color: $headerGray;
          font-family: $fontRoboto;
          font-size: 1.4rem;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.105rem;
          position: relative;
          padding: 2.1rem 1rem;
          &--active {
            color: $black;
          }
          &:not(:last-child)::after {
            height: 3rem;
            background-color: $galleryFilterDivider;
            width: 0.1rem;
            transform: rotate(20deg);
            position: absolute;
            right: 0px;
            top: 15px;
          }
        }
      }
      &images {
        .js-hide {
          display: none;
        }
      }
      &row {
        text-align: center;
      }
      &img {
        @include hideImg();
        padding: 0 0 3rem 0;
        width: 100%;
        height: auto;
      }
    }
  }
}
