$fontPTSerif: "PT Serif", sans-serif;
$fontRoboto: "Roboto", sans-serif;

$black: #000;
$white: #fff;
$headerGray: #777777;
$galleryGray: #959595;
$galleryFilterDivider: #d7d7d7;
$galleryFilterLine: #e1e1e1;
$galleryWhite: #fafafa;
$footerBlack: rgba(163, 163, 163, 0.1);
$footerWhite: #ebebeb;
$footerGray: #9c9c9c;
$headingBackgroundGray: #f0f0f2;
$progressBarTitleBlack: #2f302f;
$progressBarRunnerBlack: #a1a1a1;
$headingBackgroundGrayDarker: #e2e2e2;
$navBlack: #071f08;
$detailsGray: #ccc;
$detailLightGray: #999999;
$detailsBtnDarkGray: #707070;
$postBlack: #333333;
$postGray: #9a9a9a;
$searchGray: #b7b7b7;
$postsTitleGray: #3d3d3d;
$tagBorderGray: #eeeeee;
$singlePOstCommentGray: rgba($black, 0.2);
$contactLightGray: #c4c4c4;