.c-contact-page {
  background: $galleryWhite;
}

.c-contact-form {
  .contact {
    &__ {
      &title {
        &--min {
          color: $progressBarTitleBlack;
          font-weight: 300;
          margin: 0 0 5.75rem 0;
          padding: 0;
          &:after {
            content: "";
            display: block;
            height: 0.1rem;
            position: relative;
            top: 1.7rem;
            width: 6rem;
            background-color: $black;
          }
        }
        text-align: left;
        margin: -0.4rem 0 0.8rem;
        font-size: 3.3rem;
        letter-spacing: 1.04rem;
      }
      &info-text {
          margin: 3rem 0;
          letter-spacing: -0.02rem;
        &--strong {
          letter-spacing: 0px;
        }
        &--light{
         font-weight: 400;
         color: $headerGray;   
        }
      }
      &tel{
          display: block;
          margin: 0.7rem 0;
      }
      &btn {
        margin: 7px 0 82px;
        padding: 0.9rem 5.2rem;
      }
      &form {
        padding: 2rem 0 0 0;
        display: grid;
        grid-template-columns: 33rem 1fr;
        grid-gap: 6.25rem;
      }
      &two-colunms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3rem;
      }
      &textarea {
        height: 15rem;
        margin: 31px auto 21px;
      }
    }
  }
}
