<!DOCTYPE html>
<html lang="en">
<% var data = { title: "About", author: "Natalia Zhydejkina" }; %>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" />
<link rel="prefetch" href="../fonts.css" as="style" />
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
    <link rel="stylesheet" type="text/css" href="min-width-27-rem.css" media="(min-width: 27rem)" />
    <link rel="stylesheet" type="text/css" href="min-width-48-rem.css" media="(min-width: 48rem)" />
    <link rel="stylesheet" type="text/css" href="min-width-64-rem.css" media="(min-width: 64rem)" />   
 <title>
        <%=data.title%>
    </title>
</head>
<!-- <div class="test__img"></div> -->
<body>
    <%= _.template(require('./../includes/header.html'))() %>
    <div class="c-about">
        <%= _.template(require('./../includes/heading.html'))({
                img: "../img/headling__img.png",
                title: "About The Agency",
                subtitle: "Welcome to Lian",
                alt: "work deck with notebook",
                heading: "<section class='c-heading'>"
            }) %>
        <%= _.template(require('./../includes/about/our-history.html'))() %>
        
        <%= _.template(require('./../includes/text.html'))({
                title: "Awesome Team",
                text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit."
              }) %>
        
        <%= _.template(require('./../includes/about/our-team.html'))() %>
    </div>
    <%= _.template(require('./../includes/footer.html'))() %>
<script defer src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>