<!DOCTYPE html>
<html lang="en">
<% var data = { title: "Single post", author: "Natalia Zhydejkina" }; %>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" />
<link rel="prefetch" href="../fonts.css" as="style" />
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
    <link rel="stylesheet" type="text/css" href="min-width-27-rem.css" media="(min-width: 27rem)" />
    <link rel="stylesheet" type="text/css" href="min-width-48-rem.css" media="(min-width: 48rem)" />
    <link rel="stylesheet" type="text/css" href="min-width-64-rem.css" media="(min-width: 64rem)" />
    <title>
        <%=data.title%>
    </title>
</head>
<!-- <div class="test__img"></div> -->
<body>
    <%= _.template(require('./../includes/header.html'))() %>
    <%= _.template(require('./../includes/heading.html'))({
        img: "../img/headling__img3.jpg",
        title: "News About Lian",
        subtitle: "Latest News & Insights",
        alt: "girl",
        heading: "<section class='c-heading'>"
    }) %>
<article class="c-single__post">
    <%= _.template(require('./../includes/single_post/single__post-info.html'))() %>
    <%= _.template(require('./../includes/single_post/single__post-contacts__form.html'))() %>
</article>
    <%= _.template(require('./../includes/footer.html'))() %>
<script defer src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>